<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bienvenue sur le blog!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Latest compiled and minified CSS -->

    <!-- Debut -->
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

    <script src="{{ asset('//use.edgefonts.net/bebas-neue.js') }}"></script>

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/icomoon-social.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    <script src="{{ asset('js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

    <!-- Fin -->


</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('blog') }}">Mon blog</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('blog') }}">Accueil</a></li>
                <li><a href="{{ path('membres') }}">Les membres</a></li>
            </ul>
        </div>
    </div>
</header><!--/header-->

<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% block namepage %}Les articles{% endblock %}</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            {% block body %}{% endblock %}

        </div>
    </div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="container">

        <div class="row">

            <div class="col-footer col-md-4 col-xs-6">
                <h3>Contact</h3>
                <p class="contact-us-details">
                    <b>Adresse:</b> 8B Quartier de la Galoperie<br/>
                    <b>Téléphone:</b> 0102030405<br/>
                    <b>Fax:</b> 0102030406<br/>
                    <b>Email:</b> <a href="mailto:brechoire.j@gmail.com">brechoire.j@gmail.com</a>
                </p>
            </div>
            <div class="col-footer col-md-4 col-xs-6">
                <h3>Réseaux sociaux</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                <div>
                    <img src="{{ asset('img/icons/facebook.png') }}" width="32" alt="Facebook">
                    <img src="{{ asset('img/icons/twitter.png') }}" width="32" alt="Twitter">
                    <img src="{{ asset('img/icons/linkedin.png') }}" width="32" alt="LinkedIn">
                    <img src="{{ asset('img/icons/rss.png') }}" width="32" alt="RSS Feed">
                </div>
            </div>
            <div class="col-footer col-md-4 col-xs-6">
                <h3>A propos</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; {{ "now"|date("Y") }}</div>
            </div>
        </div>
    </div>
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/jquery-1.9.1.min.js') }}"><\/script>')</script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<!-- Scrolling Nav JavaScript -->
<script src="{{ asset('js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('js/scrolling-nav.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
